/* src/styles/App.css */
.app-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.left {
    flex: 1;
    margin-right: 40px;
}
.left h1 {
    font-weight: 600;
    font-size: 32px;
    color: #191919;
    padding: 24px 0;
    margin: 0;
}

.right {

}
.numericalDisplay img {
    width: 532px;
    height: 628px;
    background: #FFFFFF;
    border-radius: 32px 32px 32px 32px;
    border: 1px solid #707070;
}
.numericalDisplay .text-box {
    display: flex;
    width: 532px;
    height: 212px;
    background: #EBC3B2;
    border-radius: 32px 32px 32px 32px;
    padding: 40px 80px;
    box-sizing: border-box;
    margin-top: 40px;
}

.numericalDisplay .total {
    font-weight: 600;
    font-size: 68px;
    color: #191817;
}
.numericalDisplay .total-text {
    font-weight: 400;
    font-size: 20px;
    color: #191817;
}

.danmu-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.danmu-input input {
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    height: 58px;
    background: #FDFDFD;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #EDEDED;
}

.danmu-input button {
    padding: 15px 46px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    background: #191817;
    border-radius: 12px 12px 12px 12px;
    color: #fff;
}

.danmu-list {
    padding: 0 24px;
    height: 396px;
    background: #FDFDFD;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #EDEDED;
    overflow: auto;
    margin-bottom: 24px;
}
.danmu-list h2 {
    font-weight: 600;
    font-size: 24px;
    color: #191919;
    margin: 24px 0;
}

.danmu-item {
    padding-left: 15px;
    display: flex;
    background: #FDFDFD;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #EDEDED;
    margin-bottom: 16px;
}

.danmu-item p {
    min-width: 200px;
    margin: 16px 0;
    font-weight: 400;
    font-size: 16px;
    color: #191919;
}

.chart-box {
    display: flex;
    width: 100%;
    background: #FDFDFD;
    border-radius: 12px 12px 12px 12px;
    border: 1px solid #EDEDED;
    padding: 24px 24px 0 24px;
    box-sizing: border-box;
}
.chart-left {
    width: 50%;
}
.chart-right {
    width: 50%;
}
